.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.filters div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

select {
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid #3b3b3b;
}